@model SeniorProject.Models.ASSESSMENT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ASSESSMENT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssessmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssessmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PATIENT.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PATIENT.UserID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AssessmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
